{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "quotes": "off",
    "object-curly-spacing": "off",
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "arrow-parens": [true, "ban-single-arg-parens"]
  },
  "extends": ["eslint:recommended", "google"]
}
